@{
	ViewData["Title"] = "Contact Us";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/adminlte.min.css" />
	<link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("info").style.display = "none";
		}
		function hideBtn() {
			document.getElementById("sendMessage").style.display = "none";
			document.getElementById("info").style.display = "block";
		}
		function hideSpan() {
			document.getElementById("sendMessage").style.display = "block";
			document.getElementById("info").style.display = "none";
		}
	</script>
</head>
<body>
	<div class="container">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="text-center">Contact us</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<a type="button" class="btn btn-primary position-relative" asp-area="" asp-controller="Home" asp-action="Index">
								<span>Home</span>
								<i class="fas fa-home"></i>
							</a>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-body row">
					<div class="col-5 text-center d-flex align-items-center justify-content-center">
						<div class="">
							<h2><strong>BookStrore</strong></h2>
							<p class="lead mb-5">
								123 Testing Ave, Testtown, 9876 NA<br>
								Phone: +1 234 56789012
							</p>
						</div>
					</div>
					<div class="col-7">
						<div class="form-group">
							<label for="inputName">Name</label>
							<input type="text" id="inputName" class="form-control" />
						</div>
						<div class="form-group">
							<label for="inputEmail">E-Mail</label>
							<input type="email" id="inputEmail" class="form-control" />
						</div>
						<div class="form-group">
							<label for="inputSubject">Subject</label>
							<input type="text" id="inputSubject" class="form-control" />
						</div>
						<div class="form-group">
							<label for="inputMessage">Message</label>
							<textarea id="inputMessage" class="form-control" rows="4"></textarea>
						</div>
						<div class="form-group">
							<input onclick="hideBtn()" id="sendMessage" type="submit" class="btn btn-primary" value="Send message">
							<span onclick="hideSpan()" id="info" class="text-info">This functionality is unavailable at the moment</span>
						</div>
					</div>
				</div>
			</div>

		</section>
		<!-- /.content -->
	</div>
</body>
</html>
@section Styles{
	<link rel="stylesheet" href="~/css/adminlte.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
  }
