@model AddRoleViewModel

@{
	ViewBag.Title = "Add Role";
}

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form asp-action="Add" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="RoleName"></label>
				<input asp-for="RoleName" class="form-control">
				<span asp-validation-for="RoleName" class="small text-danger"></span>
			</div>
			<div class="mb-3">
				<input class="btn btn-primary" type="submit" value="Add" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
